<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Castle Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/cover.css" rel="stylesheet">


    <link href="css/blog.css" rel="stylesheet">

  </head>

  <body>
   <div class="container"> 
   <div class=" col-lg-12 nav-top ">
              <nav>
                   
                <ul class="nav masthead-nav">
                  <li ><a href="login">Home</a></li>
                  <li><a href="blog">Features</a></li>
                  <li><a href="download">Download</a></li>
                  <li class="active"><a href="blog">Blog</a></li>
                  <li><a href="blog">T & C</a></li>
                   <li><a href="about">Contact</a></li>
                   <li><a href="products">Products</a></li>

                </ul>
              </nav>
      </div>



      <div class="blog-header">
        <h2 class="blog-title">Castle Blog</h2>
        <p class="lead blog-description">Creating Real time application preview</p>
         <p class="blog-post-meta">October 18, 2016 by <a href="#">Chris Kipruto,CS DeKut</a></p>
        <p>Though we emulate most of
        our systems from such applications,our interests rests solely on the fact that
         for us to even remotely be able to build the systems we aspire to create,we must be able
        to build such basic mock applications(such as this messaging app) that will act as a benchmark for our future real time applications.We are learners in this field, and a great a part of what
            we do is on a first time attempt or encounter.We are continuously learning a lot from this.
        We chose a messaging system as a prototype because it does hold the same basic principles that are in line with our venture of a robust,secure and reliable data transmission
        that should have(if implemented well) the propensity of a zero tolerance to failure or a barely, minimalistic failure rate , external factors non-inclusive.
        And to the basic fact that building one is essentially a means to learn new real time software technologies and it is fun and exciting.</p>
           <p>Once we are through we would have a better estimation or view, of the possibility to make out the realization of our upcoming projects, and the necessary knowledge and working experience to undertake or advance  in similar endevours. </p>
       </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <h2 class="blog-post-title">First iteration v0.1</h2>
             
              <b><p>Castle Web Alpha Version 0.1(For Developers/testers Only)</p></b>
                  <p><b>Objective: </b>#Simple two way communication</p>
                  <p>Objective achieved.Still having many bugs though. </p>
            <h2 class="blog-post-title">Current work in progress v0.2</h2>

            <b><p>Castle Web Alpha Version 0.2(For Developers/testers Only)</p></b>
            <p><b>Objective: </b>#Reliable & robust two way communication</p>
             <p>•	Fix 0.1 bugs</p>
              <p>•	data deliverance assurance</p>
             <p>•	internal db and sync</p>
            <p> •	Online presence events</p>
            <p> •	Typing events</p>
             <p>•	Emoticons parsing</p>
             <p>•	Reconnection events</p>
            <p>•	Profile/account </p>
            <p>•	File management</p>
             <p>•	Simple Encryption</p>
             <p>•	Improve usability index</p>

            
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Castle is an app  with near real time capabilities that is meant to allow us to learn 
             the application of real time technologies in web and mobile apps. Currently in existence is the implementation of the android & web
             interface.</p>
          </div>
          
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://ortupik.github.com">GitHub</a></li>
              <li><a href="https://twitter.com/ortupik">Twitter</a></li>
              <li><a href="https://twitter.com/ortupik">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Castle by <a href="https://twitter.com/ortupik">@CK</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
