<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>P.Castle</title>

    <link href="css/materialize.css" rel='stylesheet' type='text/css' />

    <link href="css/cover.css" rel="stylesheet">
        <link href="css/signin.css" rel="stylesheet">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="js/jquery.min.js"></script>
       <script src="/socket.io/socket.io.js"></script>

  </head>
 
  <body class="castle">
     
    <div class=" row  " >
      <div class=" col l12  " style="padding-bottom:50px;">
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Download</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Terms of Service</a></li>
                   <li><a href="#">Contact</a></li>
                </ul>
      </div>
        <div class="inner">
             <!----- Search area -->
      <div class="col l3">
        <ul class="collection">
              <a class="collection-item avatar  ">
                  <img src="images/avatar.png" alt="" class="circle ">
                <span  class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
             <a class="collection-item avatar  ">
                <img src="images/avatar.png" alt="" class="circle ">
                <span class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
             <a class="collection-item avatar  ">
                <img src="images/avatar.png" alt="" class="circle ">
                <span style="font-family:Century Gothic" class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
          </ul>
    </div>   
    <div class=" col l6 "  >
     
      <div class="card z-depth-0 ">
         <img class="col l4 card-image   " src="image_uploads/IMG-20160826-WA0000.jpg" style="width:150px; height: 130px; padding-left:  0px;">

            <div class="card-content" style="padding-top:20px;">
                <div class="row center-align" >
                    <div class="col l9" >
                    <h5 >Dedan Kimathi University of Technology</h5>
                    <p >Better life through technology. </p>
                    </div>
                    <br><br>
                    <div class="col l9 " style="padding-top:10px;" >
                        <a class="chip yellow accent-3 z-depth-1" href="#">CONTACTS</a>
                       <a class="chip yellow accent-3 z-depth-1" href="#">DIRECTIONS</a>
                       <a class="chip  yellow accent-3 z-depth-1" href="#">MAPS</a>
                       <br><br><hr >
                    </div>
                </div>
            </div>
         <div class="card-content">
             <div class="row ">
                  <div class=" col l5 ">
              <p>
                  <button type="button" class="btn btn-primary btn-lg">CS 1.1</button></p>
              <p><button type="button" class="btn btn-primary btn-lg">CS 1.2</button></p>
               <button type="button" class="btn btn-primary btn-lg">CS 2.1</button>
                <button type="button" class="btn btn-primary btn-lg">CS 2.2</button>
              </p>
              <p> <button type="button" class="btn btn-primary btn-lg">CS 3.1</button>
                <button type="button" class="btn btn-primary btn-lg">CS 3.2</button>
                <button type="button" class="btn btn-primary btn-lg">CS 4.1</button>
                <button type="button" class="btn btn-primary btn-lg">CS 4.2</button>
              </p>
             
             
          </div>
       
       <div class="col l3">

          <div class="card thumbnail">
            <div class="card-image">
              <img src="image_uploads/val.jpg">
              <span class="card-title">CS 3.2</span>
            </div>
            <div class="card-content">
             <p>Computer Science class of 2014</p>
            </div>
            
          </div>
        </div>
        
             </div>
         </div>
      </div>
     </div>
       <div class="col l3">
        <ul class="collection">
              <a class="collection-item avatar  ">
                  <img src="images/avatar.png" alt="" class="circle ">
                <span  class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
             <a class="collection-item avatar  ">
                <img src="images/avatar.png" alt="" class="circle ">
                <span class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
             <a class="collection-item avatar  ">
                <img src="images/avatar.png" alt="" class="circle ">
                <span style="font-family:Century Gothic" class="title  "><b>Chris </b></span> 
                <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                <p  class="message_paragraph" >I love it</p>	 
            </a>
          </ul>
    </div>  
        </div>
 
          <div class="col l12" style="padding-top: 50px;">
                <p>beta version for development purposes only </p>
          </div>

        </div>

  

    <script src="js/chatting.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
