
                <div class="col l7">
                    <table>
                      <tr>
                        <td>
                            <span class="card">
                                 <img class="col l4 card-image  " src="images/project2.jpeg" style="width:100px; height: 100px; padding-left:  0px;">
                            </span>
                        </td>
                        <td>
                            <span class="card">
                                 <img class="col l4 card-image  " src="images/project5.png" style="width:100px; height:100px; padding-left:  0px;">
                            </span>
                        </td>
                         <td>
                            <span class="card">
                                 <img class="col l4 card-image  " src="images/project5.png" style="width:100px; height:100px; padding-left:  0px;">
                            </span>
                        </td>
                         <td>
                            <span class="card">
                                 <img class="col l4 card-image  " src="images/project5.png" style="width:100px; height:100px; padding-left:  0px;">
                            </span>
                        </td>
                        
                      </tr>
                    </table>
                </div>
                <div class="col l12">
                 <ul class="collection">
                       <a class="collection-item avatar  ">
                         <img src="images/co1.jpg" alt="" class="circle ">
                         <span style="font-family:Century Gothic" class="title  "><b>Chris </b></span> 
                         <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                         <p style="font-family:Century Gothic" class="message_paragraph" >I love it</p>	 
                     </a>
                      <a class="collection-item avatar  ">
                         <img src="images/co1.jpg" alt="" class="circle ">
                         <span style="font-family:Century Gothic" class="title  "><b>Chris </b></span> 
                         <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                         <p style="font-family:Century Gothic" class="message_paragraph" >I love it</p>	 
                     </a>
                      <a class="collection-item avatar  ">
                         <img src="images/co1.jpg" alt="" class="circle ">
                         <span style="font-family:Century Gothic" class="title  "><b>Chris </b></span> 
                         <span class="time right " style="font-size: 13px;">Today , 11:00 AM</span>
                         <p style="font-family:Century Gothic" class="message_paragraph" >I love it</p>	 
                     </a>
                   </ul>
                  </div>
           </div>
            </div>
          </div>
        </div>