<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>ArkAdmin Theme</title>
        <link rel="shortcut icon" href="/img/ico/favicon.png" />
        
        <!-- CSS -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="scripts/vendor/bootstrap-jasny/dist/extend/css/jasny-bootstrap.min.css" rel="stylesheet" />
        <link href="scripts/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"  />
        <link href="scripts/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <link href="scripts/vendor/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
        <link href="scripts/vendor/select2/select2.css" rel="stylesheet" type="text/css" />
        <link href="scripts/vendor/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="scripts/vendor/jquery.uniform/themes/default/css/uniform.default.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="css/newest/ark.css" rel="stylesheet" type="text/css" />

    </head>
    
    <body class="cover">
        
<div class="login-wrap">
    <span class="brand">
        <img src="img/logo/default_90x32.png" alt="Ark">
    </span>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Sign In</h3>
        </div>
        <div class="panel-body">
            <form action="index.html">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me for 2 weeks
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <br/>
                <br/>

                <a href="forgot.html">Forgot password?</a><br/>
                Don't have an account yet? <a href="register.html">Sign Up!</a>
            </form>
        </div>
    </div>
</div>


    </body>
</html>